.a {
    background-color: #dc143c;
    height: 300px;
    margin-bottom: 1%;
    overflow: scroll;
}
.b {
    background-color: darkred;
    height: 150px;
    margin-bottom: 1%;
}
.c {
    background-color: indigo;
    height: 100px;
    margin-bottom: 1%;
}
.d {
    background-color: mediumpurple;
    height: 90px
    
}